
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #F4F7F6;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    padding-top: 65px;
}
.body{
    width: 100%;
    height: 100%;
    position: relative;
    left: 0%;
    float: right;
    -webkit-transform: ;
    transform: ;
    transition: 0.7s;
    overflow: auto;
}

.body .men{
    position: absolute;
   left: 5%;
    top: 30px;
}
 
.ss img
{
    width:  250px;
    height: 250px; 
}
.card
{
    margin-top: 20px;
    overflow: hidden;
}
.im img {
    
    width: 100%;
    transition: all 0.5s
}
.im .gg 
{
    background-color: #202121;
    padding: 50px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.5s
}

.im 
{
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
im:hover img
{
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);

}
.im:hover .gg 
{
    opacity: 0.5;

}
.gg .oig {
    z-index: 211155;
    color: #fff;
    float: left;
    background-color: none;
    border: 1px solid #FFF;
    border-radius: 50px;
    padding: 10px;
    transition: all 0.5s;
    position: absolute;
    top: 25;
    right: 100;
	font-weight: 700;
}
.gg .oiu
{
	z-index: 211155;
    color: #fff;
    float: left;
    background-color: none;
    border: 1px solid #FFF;
    border-radius: 50px;
    padding: 10px;
    transition: all 0.5s;
    position: absolute;
    bottom: 25px;
    right: 20;
	font-weight: 700;
}

gg i:hover 
{
    color: #B7B7B7;
    border: 1px solid #B7B7B7
}

.gg span 
{
    z-index: 54545455;
    color: #fff;
    float: left;
    background-color: none;
    border: 1px solid #FFF;
    border-radius: 50px;
    padding: 5px;
    text-align: center;
    margin-left: 15px;
    transition: all 0.5s;
    position: absolute;
    top: 25;
    right: 20;
    width: 70px
}

.gg span:hover
{
    color: #B7B7B7;
    border: 1px solid #B7B7B7
}


